# Nuxt dev/build outputs
dist
source/jsExample.js
source/tsExample.ts

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.eslintcache
